<mat-sidenav-container fxFlexFill class="sidenav-container">

  <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true" >
    <mat-toolbar class="head-menu">Menu</mat-toolbar>
    <mat-nav-list *ngIf="isLoggedIn(); else notLoggedMobile">
      <a mat-list-item *ngFor="let link of loggedLinks; let i = index"
         (click)="activeLoggedLink = link;sidenav.close();"
         routerLinkActive="active"
         [routerLink]="link">
        <mat-icon [innerHtml]="loggedIcon[i]" aria-hidden="false" aria-label="Example home icon"></mat-icon>
        {{loggedTitle[i]}} </a>
      <a mat-list-item mat-list-item (click)="logOut();sidenav.close();">
        <mat-icon aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
        Logout</a>
    </mat-nav-list>
    <ng-template #notLoggedMobile>
      <mat-nav-list>
        <a mat-list-item *ngFor="let link of notLoggedLinks; let i = index"
           (click)="activeNotLoggedLink = link;sidenav.close();"
           routerLinkActive="active"
           [routerLink]="link">
          <mat-icon aria-hidden="false" aria-label="Example home icon">{{loggedIcon[i]}}</mat-icon>
          {{notLoggedTitle[i]}} </a>
      </mat-nav-list>
    </ng-template>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <mat-toolbar class="fixed-header dark-theme" color="primary">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <img class="logo" [src]="logo" alt="Pedibus"/>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true" *ngIf="isLoggedIn(); else notLogged">
        <a mat-button *ngFor="let link of loggedLinks; let i = index"
           (click)="activeLoggedLink = link"
           routerLinkActive="mat-flat-button mat-accent"
           [routerLink]="link">
          <mat-icon aria-hidden="false" aria-label="Example home icon">{{loggedIcon[i]}}</mat-icon>
          {{loggedTitle[i]}} </a>
        <a mat-button (click)="logOut()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>Logout</a>
      </div>
      <ng-template #notLogged>
        <div fxShow="true" fxHide.lt-md="true">
          <a mat-button *ngFor="let link of notLoggedLinks; let i = index"
             (click)="activeNotLoggedLink = link"
             routerLinkActive="mat-flat-button mat-accent"
             [routerLink]="link">
            <mat-icon aria-hidden="false" aria-label="Example home icon">{{loggedIcon[i]}}</mat-icon>
            {{notLoggedTitle[i]}} </a>
        </div>
      </ng-template>

    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
