.status {
  font-weight: bolder;
}
.status-ok {
  padding-left: 10px;
  font-weight: bolder;
  color: green !important;
}

.status-warn {
  padding-left: 10px;

  font-weight: bolder;
  color: orange !important;
}

.status-nope {
  padding-left: 10px;

  font-weight: bolder;
  color: darkred !important;
}
