<mat-card ngClass="container" ngClass.lt-md="container-mobile">
  <div *ngIf="isLoading(); else postFinished">
    <mat-icon mat-card-image aria-hidden="false" aria-label="Example home icon" color="primary" class="main-image">
      person_add
    </mat-icon>
    <div class="mat-headline">Cambio Password Nuovo utente</div>

    <form (ngSubmit)="submit($event)">
      <mat-form-field ngClass.lt-sm="form-field-mobile" ngClass.gt-sm="form-field">
        <input [type]="hidePass ? 'password' : 'text'" id="password" name="password" matInput placeholder="Nuova Password" required
               pattern="^((?=.*[0-9])|(?=.*[@#$%^&+!=]))((?=.*[a-z])|(?=.*[A-Z]))(?=\S+$).{8,}$"
               [(ngModel)]="model.password" #password="ngModel">
        <button mat-icon-button matSuffix type="button"><mat-icon (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon></button>
        <mat-error *ngIf="password.invalid && password.touched">La password dovrà contenere almeno 8 caratteri con almeno una lettera e un numero.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field ngClass.lt-sm="form-field-mobile" ngClass.gt-sm="form-field">
        <input [type]="hidePassAgain ? 'password' : 'text'" id="passMatch" name="passMatch" matInput required [pattern]="model.password"
               placeholder="Ripeti Password"
               [(ngModel)]="model.passMatch" #passMatch="ngModel">
        <button mat-icon-button matSuffix type="button"><mat-icon (click)="hidePassAgain = !hidePassAgain">{{hidePassAgain ? 'visibility' : 'visibility_off'}}</mat-icon></button>
        <mat-error *ngIf="passMatch.invalid && passMatch.touched">Le due password non coincidono</mat-error>
      </mat-form-field>
      <br>
      <button type="reset" mat-button>Reset</button>
      <button type="submit" [disabled]="passMatch.invalid || password.invalid " mat-raised-button color="primary">Change
        password
      </button>
    </form>
  </div>
  <ng-template #postFinished>
    <div *ngIf="isOk(); else notOk">
      <div class="mat-headline">
        <mat-icon mat-card-image aria-hidden="false" aria-label="Example home icon" color="primary" class="main-image">
          check
        </mat-icon>
        Cambio Password effettuato correttamente!
      </div>
      <button mat-raised-button color="primary" (click)="goToLogin()">Vai al Login</button>
    </div>
    <ng-template #notOk>
      <div class="mat-headline">
        <mat-icon mat-card-image aria-hidden="false" aria-label="Example home icon" color="primary" class="main-image">
          close
        </mat-icon>
        Cambio Password fallito!
      </div>
    </ng-template>
  </ng-template>
</mat-card>
