<mat-card id="prenotazioni" ngClass="container" ngClass.lt-md="container-mobile">
  <mat-progress-bar class="progress-bar-button" *ngIf="showLoading()" mode="indeterminate"></mat-progress-bar>
  <mat-card-header>
    <h1>Message n.{{messageNumber}}</h1>
  </mat-card-header>
  <mat-card-content ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile">
    <p>{{notifica.msg}}</p>
    <button mat-stroked-button class="alunno-presenza mat-background-accent" (click)="readNotifica()">Notifica letta</button>
  </mat-card-content>
</mat-card>