.progress-bar-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fab-left {
  position: fixed;
  bottom: 16px;
  left: 16px;
  z-index: 999;

}

.fab-right {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999;
}

.close-button {
  float: right;
  top: 0;
  right: 0;
}
.close-icon {
  height: 24px;
}


.date {
  color: gray !important;
}

.notification-space {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
