<ng-container *ngIf="(lines | async) as linee else loading">
  <div class="mat-h2"><span *ngIf="this.data">Modifica </span><span *ngIf="!this.data">Aggiungi </span>Utente</div>
  <mat-dialog-content ngClass.lt-sm="mobile">
    <form #form [formGroup]="profileForm" fxLayout="column">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" placeholder="Name" formControlName="name" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cognome</mat-label>
        <input matInput type="text" placeholder="Surname" formControlName="surname" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Email" formControlName="userId" required>
      </mat-form-field>

      <h2 class="mat-h2">Ruolo:</h2>

      <section fxLayout="column">
        <mat-checkbox #utenteCheckBox class="example-margin" formControlName="user">Utente</mat-checkbox>
        <mat-checkbox #guideCheckBox class="example-margin" formControlName="guide">Guida</mat-checkbox>
        <mat-checkbox #matCheckboxLine class="example-margin" formControlName="lineAdmin"
                      (change)="lineAdminChange($event)" [checked]="isMasterAdmin(linee)"
                      [disabled]="isMasterAdmin(linee)">Amministratore di Linea
        </mat-checkbox>
        <section fxLayout="column" class="indent">
          <mat-checkbox *ngFor="let line of getArray(linee)" [disabled]="!matCheckboxLine.checked || isMaster(line)"
                        [checked]="this.userDTOres.lineaIdList.includes(line.id)"
                        (change)="changeLineList($event, line.id)">{{line.nome}}<span class="warn"
                                                                                      *ngIf="isMaster(line)"><i>&nbsp;Master</i></span>
          </mat-checkbox>
        </section>
      </section>

      <ng-container *ngIf="utenteCheckBox.checked">
        <h2 class="mat-h2 section-title">Figli:</h2>

        <section fxLayout="column">
          <div *ngFor="let childOb of getArrayChild()"
               class="mat-h3">
            <ng-container *ngIf="(childOb | async) as child">{{child.surname}} {{child.name}}
              <button class="warn" color="warn" mat-icon-button (click)="removeChild(child.codiceFiscale)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-container>
          </div>
          <div *ngIf="getArrayChild().length === 0" class="mat-h3">Questo utente non ha alcun figlio registrato.</div>
          <div fxLayout="row" fxLayout.lt-sm="column" class="child-adder">
            <mat-form-field style="width: 100%">
              <input #newChild matInput type="text" placeholder="Codice Fiscale" (input)="newData(newChild.value)">
              <mat-label>
                <mat-icon>search</mat-icon>
                Cerca tra i bambini...
              </mat-label>
            </mat-form-field>
          </div>
          <div fxLayout="row" class="wrap" *ngIf="(this.childSearchObs | async) as children else loading" fxLayoutGap="5px">
            <button mat-raised-button color="accent" class="margin-bottom" *ngFor="let child of children"
                    (click)="addChild(child.codiceFiscale)"
                    [disabled]="alreadySelected(child.codiceFiscale)">
              <mat-icon>add</mat-icon>
              {{child.surname}} {{child.name}}</button>
          </div>
        </section>
      </ng-container>
    </form>
    <!--  <div>{{this.data.user | json}}</div>-->
  </mat-dialog-content>
  <div class="bottom-button">
    <button
      [disabled]="!profileForm.valid || !(guideCheckBox.checked || utenteCheckBox.checked || matCheckboxLine.checked) || (matCheckboxLine.checked && this.userDTOres.lineaIdList.length == 0)"
      mat-raised-button color="primary" (click)="updateUserDialog()">
      <mat-progress-bar class="progress-bar-button" mode="indeterminate" *ngIf="this.addingUser"></mat-progress-bar>
      <span *ngIf="this.data">Applica Modifiche</span>
      <span *ngIf="!this.data">Aggiungi Utente</span>
    </button>
  </div>
</ng-container>
<ng-template #loading>
  <mat-dialog-content>
    <div class="loading-spinner">
      <mat-spinner diameter="30"></mat-spinner>
    </div>
  </mat-dialog-content>
</ng-template>

