<div class="mat-h2"><span *ngIf="this.data">Modifica </span><span *ngIf="!this.data">Aggiungi </span>Utente</div>
<mat-dialog-content ngClass.lt-sm="mobile">
  <form #form [formGroup]="profileForm" fxLayout="column">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput type="text" placeholder="Name" formControlName="name" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cognome</mat-label>
      <input matInput type="text" placeholder="Surname" formControlName="surname" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" placeholder="Email" formControlName="userId" required>
    </mat-form-field>

    <h2 class="mat-h2">Ruolo:</h2>

    <section fxLayout="column">
      <mat-checkbox class="example-margin" formControlName="user">Utente</mat-checkbox>
      <mat-checkbox class="example-margin" formControlName="guide">Guida</mat-checkbox>
      <mat-checkbox #matCheckboxLine class="example-margin" formControlName="lineAdmin"
                    (change)="lineAdminChange($event)">Amministratore di Linea
      </mat-checkbox>
      <section fxLayout="column" class="indent" *ngIf="(lines | async) as linee">
        <mat-checkbox *ngFor="let line of getArray(linee)" [disabled]="!matCheckboxLine.checked"
                      [checked]="this.userDTOres.lineaIdList.includes(line.id)"
                      (change)="changeLineList($event, line.id)">{{line.nome}}</mat-checkbox>
      </section>
      <mat-checkbox class="example-margin" formControlName="sysAdmin">Amministratore di Sistema</mat-checkbox>
    </section>


    <h2 class="mat-h2 section-title">Figli:</h2>

    <section fxLayout="column">
      <div *ngFor="let childOb of getArrayChild()"
           class="mat-h3">
        <ng-container *ngIf="(childOb | async) as child">{{child.surname}} {{child.name}}
          <button class="warn" color="warn" mat-icon-button (click)="removeChild(child.codiceFiscale)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
      </div>
      <div *ngIf="getArrayChild().length === 0" class="mat-h3">Questo utente non ha alcun figlio registrato.</div>
      <div fxLayout="row" fxLayout.lt-sm="column" class="child-adder">
        <mat-form-field style="width: 100%">
          <input #newChild matInput type="text" placeholder="Codice Fiscale" (input)="newData(newChild.value)">
          <mat-label>
            <mat-icon>search</mat-icon>
            Cerca tra i bambini...
          </mat-label>
        </mat-form-field>
      </div>
      <div fxLayout="row" class="wrap" *ngIf="(this.childSearchObs | async) as children" fxLayoutGap="5px">
        <button mat-raised-button color="accent" class="margin-bottom" *ngFor="let child of children"
                (click)="addChild(child.codiceFiscale)"
                [disabled]="alreadySelected(child.codiceFiscale)">
          <mat-icon>add</mat-icon>
          {{child.surname}} {{child.name}}</button>
      </div>
    </section>
  </form>
  <!--  <div>{{this.data.user | json}}</div>-->
</mat-dialog-content>
<div class="bottom-button">
  <button [disabled]="!profileForm.valid" mat-raised-button color="primary" (click)="updateUserDialog()">
    <span *ngIf="this.data">Applica Modifiche</span>
    <span *ngIf="!this.data">Aggiungi Utente</span>

  </button>
</div>
