<mat-card ngClass="container" ngClass.lt-md="container-mobile">
  <div *ngIf="prenotazione$ | async as prenotazione; else loadingDiv">
    <div *ngIf="stops$ | async as stops; else loadingDiv">
      <!--      <div id="disp" class="no-stops json">-->
      <!--        DISP: {{stops |json}}-->
      <!--      </div>-->
        <div *ngIf="disp$|async as disp else loadingDiv">
          <div *ngIf="!showLoading()">
            <mat-card-header><h1>Disponibilità</h1></mat-card-header>
            <div id="turno-status" class="no-stops">
              Il turno è attualmente:
              <span
                class="status">{{disp.turno.isExpired ? "Scaduto" : (disp.turno.isOpen ? "Aperto" : "Chiuso")}}</span>
            </div>
            <div id="disp-status" class="no-stops">
              <div *ngIf="disp.disp else nodisp">
                Hai comunicato la tua disponibilità per questo
                turno {{prenotazione.verso == 'Andata' ? 'a partire d' : 'fino '}}alla fermata
                <span class="status">{{disp.disp.nomeFermata}}</span>
                <div>
                  Conferma: <span class="status">{{disp.disp.isConfirmed ? "Confermato" : "In Attesa"}}</span>
                  <div *ngIf="disp.disp.isConfirmed && disp.disp.isAck">
                    Comunicazione Confermas: <span
                    class="status">{{disp.disp.isConfirmed ? "Confermato" : "In Attesa"}}</span>
                  </div>
                </div>
              </div>


              <ng-template #nodisp>
                <div>
                  Non hai comunicato la tua disponibilità per questo turno.
                </div>
              </ng-template>
            </div>

            <form class="no-stops" [class.invisible]="!disp.turno.isOpen || disp.turno.isExpired"
                  (ngSubmit)="addDisp(idFermata.value)" *ngIf="!disp.disp">
              <label id="addDisp">Seleziona la fermata di
                {{prenotazione.verso == 'Andata' ? 'partenza' : 'arrivo'}}</label>
              <mat-radio-group [disabled]="!disp.turno.isOpen || disp.turno.isExpired" #idFermata="matRadioGroup"
                               aria-labelledby="addDisp"
                               class="example-radio-group">
                <mat-radio-button class="example-radio-button"
                                  *ngFor="let stop of (prenotazione.verso == 'Andata' ? stops.andata : stops.ritorno);
                          first as isFirst; last as isLast;"
                                  [value]="stop.id" [checked]="(prenotazione.verso == 'Andata' ? isFirst : isLast)">
                  {{stop.nome}}
                </mat-radio-button>
              </mat-radio-group>
              <button type="submit" [disabled]="!disp.turno.isOpen || disp.turno.isExpired" mat-raised-button
                      color="primary">Invia Disponibilità
              </button>
            </form>
            <form class="no-stops" (ngSubmit)="delDisp(idFermata.value)" *ngIf="disp.disp">
              <label id="dellDisp" class="invisible">Seleziona la fermata di
                {{prenotazione.verso == 'Andata' ? 'partenza' : 'arrivo'}}</label>
              <mat-radio-group disabled #idFermata="matRadioGroup"
                               aria-labelledby="dellDisp"
                               class="example-radio-group invisible">
                <mat-radio-button class="example-radio-button"
                                  *ngFor="let stop of (prenotazione.verso == 'Andata' ? stops.andata : stops.ritorno);
                          first as isFirst; last as isLast;"
                                  [value]="stop.id" [checked]="stop.id == disp.disp.idFermata">
                  {{stop.nome}}
                </mat-radio-button>
              </mat-radio-group>
              <button type="submit" [disabled]="!disp.turno.isOpen || disp.turno.isExpired" mat-raised-button
                      color="warn">Cancella Disponibilità
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
</mat-card>


<ng-template #loadingDiv>
  <div>
    <mat-progress-bar
      class="progress-bar-button"
      mode="indeterminate"
    ></mat-progress-bar>
    <mat-card-header><h1>Caricamento in corso...</h1></mat-card-header>
  </div>
</ng-template>

<ng-template #notAuthorized>
  <div>
    <mat-card-header><h1>Utente non abilitato a questa linea</h1></mat-card-header>
  </div>
</ng-template>
