<mat-card ngClass="container" ngClass.lt-md="container-mobile">
  <mat-progress-bar
    class="progress-bar-button"
    *ngIf="showLoading()"
    mode="indeterminate"
  ></mat-progress-bar>
  <div *ngIf="this.disp else loadingDiv">
    <div *ngIf="!showLoading() else loadingDiv">
      <mat-card-header><h1>Disponibilità</h1></mat-card-header>
      <div id="disp-status" class="no-stops mat-h3">
        <div *ngIf="this.disp.guideUsername else nodisp">
          <div id="turno-status" class="no-stops mat-h2">
            Stato del turno:
            <span [class.status-ok]="this.turno.isOpen && !this.turno.isExpired"
                  [class.status-warn]="!this.turno.isOpen && !this.turno.isExpired"
                  [class.status-nope]="this.turno.isExpired">{{this.turno.isExpired ? "Scaduto" : (this.turno.isOpen ? "Aperto" : "Chiuso")}}</span>
          </div>
          <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="20px">
            <div *ngIf="(this.fermataDisp|async) as f" fxFlex="50">
              <app-stop-map [lat]="f.location.coordinates[0]" [lng]="f.location.coordinates[1]" [description]="f.nome"></app-stop-map>
            </div>
            <div fxFlex="50">
              <div>
              Linea di {{this.p.verso == 'Andata' ? 'Partenza' : 'Arrivo'}}:
              <span class="status">{{this.disp.nomeLinea}}</span>
            </div>
            <div>
              Fermata di {{this.p.verso == 'Andata' ? 'Partenza' : 'Arrivo'}}:
              <span class="status">{{this.disp.nomeFermata}}</span>
            </div>
            <div>
              Orario:
              <span class="status">{{this.disp.orario}}</span>
            </div>
            <div>
              Conferma: <span class="status">{{this.disp.isConfirmed ? "Confermato" : "In Attesa"}}</span>
              <div *ngIf="this.disp.isConfirmed">
                Conferma Ricezione: <span
                class="status">{{this.disp.isAck ? "Comunicata" : "In Attesa"}}</span>
              </div>
            </div>
            <div>
              <button type="submit" (click)="delDisp()"
                      *ngIf="this.turno.isOpen && !this.turno.isExpired && !this.disp.isConfirmed" mat-raised-button
                      color="warn">
                <mat-progress-bar
                  class="progress-bar-button"
                  mode="indeterminate"
                  *ngIf="this.disp.delete"
                ></mat-progress-bar>
                Cancella Disponibilità
              </button>
            </div>
            <div *ngIf="this.disp.guideUsername && !this.disp.isAck && this.disp.isConfirmed">
              <button (click)="ackDisp()" [disabled]="this.turno.isExpired" mat-raised-button
                      color="accent">
                <mat-progress-bar
                  class="progress-bar-button"
                  mode="indeterminate"
                  *ngIf="this.disp.ack"
                ></mat-progress-bar>
                Comunica Ricezione
              </button>
            </div>
            </div>
          </div>
        </div>


        <ng-template #nodisp>
          <div class="mat-h3">
            Non hai comunicato la tua disponibilità per il tragitto di {{this.p.verso}} in data {{this.p.data | date}}.
          </div>
          <div class="mat-h2">
            Inserisci Disponibilità
          </div>
          <div fxLayout="row" fxLayout.lt-sm="column">
            <div *ngIf="this.linee" fxFlex.lt-sm="100%">
              <mat-form-field color="accent">
                <mat-label>Seleziona la linea</mat-label>
                <mat-select *ngIf="this.linee" (selectionChange)="getTurno(lineaSelect.value)" #lineaSelect>
                  <mat-option *ngFor="let linea of linee" [value]="linea">
                    <p>{{(linea | fortmatLine)}}</p>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div id="turno-status-2" class="no-stops mat-h2" *ngIf="this.turno && this.linea">
              Stato del turno:
              <span [class.status-ok]="this.turno.isOpen && !this.turno.isExpired"
                    [class.status-warn]="!this.turno.isOpen && !this.turno.isExpired"
                    [class.status-nope]="this.turno.isExpired">{{this.turno.isExpired ? "Scaduto" : (this.turno.isOpen ? "Aperto" : "Chiuso")}}</span>
            </div>
          </div>
          <div fxLayout="row" fxLayout.lt-sm="column" *ngIf="this.turno && this.linea">
            <form [formGroup]="dispForm" (ngSubmit)="addDisp(this.selectedFermataCheck)">
              <mat-form-field style="padding-right: 10px">
                <mat-label>Fermata {{this.p.verso == 'Andata' ? 'partenza' : 'arrivo'}}:</mat-label>
                <mat-select [disabled]="!this.turno.isOpen || this.turno.isExpired" #idFermata
                            formControlName="stopSelect" (valueChange)="selectFermata($event.value)"
                            (selectionChange)="selectFermata($event.value)"
                >
                  <mat-option *ngFor="let stop of (this.p.verso == 'Andata' ? this.linea.andata : this.linea.ritorno)"
                              [value]="stop.id">{{stop.nome}} {{stop.orario}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button type="submit" [disabled]="!this.turno.isOpen || this.turno.isExpired || !dispForm.valid"
                      mat-raised-button
                      color="primary">
                <mat-progress-bar
                  class="progress-bar-button"
                  mode="indeterminate"
                  *ngIf="this.disp.add"
                ></mat-progress-bar>
                Invia Disponibilità
              </button>
            </form>
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" *ngIf="this.turno && this.linea">
            <div fxFlex="100">
              <app-stops-map [center]="this.selectedFermata ? this.selectedFermata.location : undefined"
                             [stops]="this.stops" [description]="this.stopsDesc"
                             (changeStop)="selectFermataIndex($event)"></app-stops-map>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</mat-card>


<ng-template #loadingDiv>
  <mat-card-header *ngIf="showLoading()"><h1>Caricamento in corso...</h1></mat-card-header>
  <mat-card-header *ngIf="!showLoading()"><h1>Non ci sono turni in questa giornata</h1></mat-card-header>
</ng-template>

<ng-template #notAuthorized>
  <div>
    <mat-card-header><h1>Utente non abilitato a questa linea</h1></mat-card-header>
  </div>
</ng-template>
