
.container {
  width: 100%;
}
.card-stops{
  margin: 10px;
}
.form-top {
  margin: 5px;
  padding: 10px 0 0 0;
  height: auto;
}

.toolbar {
  text-align: center;
}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.presente {
  background-color: #4CAF50;
  font-weight: bold;
  color: white;
}

.alunno-presenza {
  margin-right: 0.5%;
  /*size: initial; TODO sarebbe bello che non cambi dimensioni quando passiamo a fond bold/selezioniamo*/
}
