
.container {
  width: 60%;
  height: auto;
  margin: auto;
}
.container-mobile {
  width: 90%;
  height: auto;
  margin: auto;
}
.card-stops{
  margin: 10px;
}
.form-top {
  margin: 5px;
  padding: 10px 0 0 0;
  height: auto;
}

.toolbar {
  text-align: center;
}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.presente {
  background-color: #4CAF50;
  font-weight: bold;
  color: white;
}

.alunno-presenza {
  margin-right: 0.5%;
  /*size: initial; TODO sarebbe bello che non cambi dimensioni quando passiamo a fond bold/selezioniamo*/
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

