<div class="container">

  <mat-toolbar color="primary" class="toolbar" role="heading">
    <mat-toolbar-row>
      {{title}}
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- TOOLBAR ROW -->
  <mat-toolbar class="container form-top" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%"
               fxLayoutAlign="center" fxLayoutAlign.xs="center">
    <!-- SELEZIONA LINEA -->
    <mat-form-field fxFlex="30%" fxFlex.xs="90%">
      <mat-label>Seleziona linea</mat-label>
      <mat-select (selectionChange)="fillPrenotazione()" [(ngModel)]="selectedLinea">
        <mat-option *ngFor="let linea of linee" [value]="linea">{{linea}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- SELEZIONA VERSO -->
    <mat-form-field fxFlex="30%" fxFlex.xs="90%">
      <mat-label>verso</mat-label>
      <mat-select [(ngModel)]="selectedVerso">
        <mat-option *ngFor="let v of verso" [value]="v">{{v}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- DATEPICKER -->
    <mat-form-field fxFlex="30%" fxFlex.xs="90%">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date"
             (ngModelChange)="fillPrenotazione()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </mat-toolbar>

  <!-- LISTA FERMATE CON PRENOTAZIONI ALUNNI -->
  <!-- TODO (Piero): Attualmente funziona tutto, ma bisogna modificare il json di input e modificare i controlli qui
                      sotto di conseguenza-->
  <div class="container"
       *ngIf="(selectedLinea && selectedVerso && date && checkLength(selectedVerso)); then thenBlock; else elseBlock"
       role="list">
  </div>
  <ng-template #thenBlock>
    <mat-card class="card-stops"
              *ngFor="let res of ( selectedVerso === 'andata' ? reservations.alunniPerFermataAndata : reservations.alunniPerFermataRitorno)"
              role="region">
      <mat-card-header>
        <mat-card-title>{{res.fermata.orario + " " + res.fermata.nome}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-button [ngClass]="{'presente': presente(res.fermata.id, alunno)}"
                (click)="togglePresenza(res.fermata.id, alunno)"
                *ngFor="let alunno of res.alunni.sort()">{{alunno}}</button>
      </mat-card-content>
    </mat-card>
  </ng-template>
  <ng-template #elseBlock>
    <mat-card class="card-stops"
              role="region">
      <mat-card-content>
        Nessuna corsa disponibile
      </mat-card-content>
    </mat-card>
  </ng-template>

  <!--<mat-drawer-container class="container" autosize>-->
  <!--<mat-drawer #drawer class="sidenav">-->
  <!--<p>Menu</p>-->
  <!--</mat-drawer>-->
  <!--<div class="sidenav-content">-->
  <!--<button mat-icon-button (click)="drawer.toggle()">-->
  <!--<mat-icon>menu</mat-icon>-->
  <!--</button>-->
  <!--<h1 class="mat-display-3" style="text-align: center;">{{title}}</h1>-->
  <!--</div>-->
  <!--<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">-->
  <!--</div>-->
  <!--&lt;!&ndash; TOOLBAR ROW &ndash;&gt;-->
  <!--<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">-->
  <!--<mat-toolbar>-->
  <!--&lt;!&ndash; SELEZIONA LINEA &ndash;&gt;-->
  <!--<mat-form-field fxFlex="30%">-->
  <!--<mat-label>Seleziona linea</mat-label>-->
  <!--<mat-select (selectionChange)="fillPrenotazione()" [(ngModel)]="selectedLinea">-->
  <!--<mat-option *ngFor="let linea of linee" [value]="linea">{{linea}}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <!--&lt;!&ndash; SELEZIONA VERSO &ndash;&gt;-->
  <!--<mat-form-field fxFlex="30%">-->
  <!--<mat-label>verso</mat-label>-->
  <!--<mat-select [(ngModel)]="selectedVerso">-->
  <!--<mat-option *ngFor="let v of verso" [value]="v">{{v}}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <!--&lt;!&ndash; DATEPICKER &ndash;&gt;-->
  <!--<mat-form-field fxFlex="30%">-->
  <!--<input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date"-->
  <!--(ngModelChange)="fillPrenotazione()">-->
  <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
  <!--<mat-datepicker #picker></mat-datepicker>-->
  <!--</mat-form-field>-->
  <!--</mat-toolbar>-->

  <!--</div>-->


  <!--</mat-drawer-container>-->


</div>
