<mat-card ngClass="container" ngClass.lt-md="container-mobile">
  <div class="mat-headline">Recupera Password</div>
  <form (ngSubmit)="submit($event)">
    <mat-form-field ngClass.lt-sm="form-field-mobile" ngClass.gt-sm="form-field">
      <input type="email" matInput id="email" name="email" placeholder="Email" required email [(ngModel)]="model.email"
             #email="ngModel">
      <mat-error *ngIf="email.invalid && email.touched">Email non valida</mat-error>
    </mat-form-field>
    <button type="reset" mat-button>Reset</button>
    <button [disabled]="!email.valid" type="submit" mat-raised-button color="primary">Recupera password</button>
  </form>
</mat-card>
