<mat-card ngClass="container" ngClass.lt-md="container-mobile">
  <mat-icon mat-card-image aria-hidden="false" aria-label="Example home icon" color="primary" class="main-image">help</mat-icon>
  <div class="mat-headline">Recupera Password</div>
  <form (ngSubmit)="submit($event)" *ngIf="isLoading(); else postFinished">
    <mat-form-field ngClass.lt-sm="form-field-mobile" ngClass.gt-sm="form-field">
      <input type="email" matInput id="email" name="email" placeholder="Email" required email [(ngModel)]="model.email"
             #email="ngModel">
      <mat-error *ngIf="email.invalid && email.touched">Email non valida</mat-error>
    </mat-form-field>
    <br>
    <button type="reset" mat-button>Reset</button>
    <button [disabled]="!email.valid" type="submit" mat-raised-button color="primary">Recupera password</button>
  </form>
  <ng-template #postFinished>
    <div *ngIf="isOk(); else notOk">
      <div class="mat-headline">
        Richiesta Recupero Password effettuata correttamente!
      </div>
      <div>Riceverai una mail al tuo indirizzo di posta elettronica con le istruzioni per proseguire.</div>
    </div>
    <ng-template #notOk>
      <div class="mat-headline">
        Richiesta Recupero Password fallita, si prega di riprovare!
      </div>
      <button mat-raised-button color="primary" (click)="restart()">Riprova</button>

    </ng-template>
  </ng-template>
</mat-card>
