<!-- LISTA FERMATE CON PRENOTAZIONI ALUNNI -->
<mat-card ngClass="container" ngClass.lt-md="container-mobile">

  <div class="container"
       *ngIf="(reservations); then thenBlock; else elseBlock"
       role="list">
  </div>

  <ng-template #thenBlock>
    <div class="card-stops"
         *ngFor="let res of reservations; let first = first; let last = last"
         [ngClass]="{ first: first, last: last }">
      <div fxLayout="row">

        <mat-card-header>
          <mat-card-title class="stop-clock">{{res.fermata.orario}}</mat-card-title>
        </mat-card-header>

        <img class="cross" [src]="cross" alt="Bus Stop"/>

        <mat-card-header>
          <mat-card-title class="stop-title">{{res.fermata.nome}}</mat-card-title>
        </mat-card-header>

      </div>

      <mat-card-content ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile"
                        *ngIf="(last && this.selectedVerso === 'Andata') || (first && this.selectedVerso === 'Ritorno');
                             then isSpecial;
                             else notSpecial">
      </mat-card-content>
      <ng-template #notSpecial>
        <mat-card-content ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile"
                          *ngIf="(res.alunni.length > 0); then thenAlunni; else elseAlunni"></mat-card-content>
        <ng-template #thenAlunni>
          <mat-card-content ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile">
            <button mat-stroked-button class="alunno-presenza mat-background-accent"
                    [class.presente]="presente(res.fermata.id, alunno)"
                    (click)="togglePresenza(res.fermata.id, alunno)"
                    *ngFor="let alunno of sortedAlunni(res.alunni); ">{{alunno.surname + " " + alunno.name}}</button>
          </mat-card-content>
        </ng-template>
        <ng-template #elseAlunni>
          <mat-card-content ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile">
            Nessuna prenotazione
          </mat-card-content>
        </ng-template>
      </ng-template>
      <ng-template #isSpecial>
        <mat-card-content *ngIf="first" ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile">
        </mat-card-content>
      </ng-template>

    </div>
  </ng-template>
  <ng-template #elseBlock>
    <div class="no-stops">
      Nessuna corsa disponibile con i parametri selezionati
    </div>
  </ng-template>
</mat-card>
<div ngClass.lt-md="margin-final">

</div>
