<!-- LISTA FERMATE CON PRENOTAZIONI ALUNNI -->
<!--<mat-progress-bar-->
<!--  class="progress-bar"-->
<!--  *ngIf="showLoading()"-->
<!--  mode="indeterminate"-->
<!--&gt;</mat-progress-bar>-->
<div
  *ngIf="this.resource &&
    this.prenotazione as prenot
    else elseBlock
  "
  role="list"
>
  <mat-card id="prenotazioni" ngClass="container" ngClass.lt-md="container-mobile">
    <mat-progress-bar
      class="progress-bar-button"
      *ngIf="showLoading()"
      mode="indeterminate"
    ></mat-progress-bar>
    <mat-card-header><h1>Prenotazioni Bambini</h1></mat-card-header>

    <div *ngIf="!showLoading()">
      <!--Scuola ritorno-->
      <div class="card-stops" [class.prenotazioni-disabled]="showLoading()">
        <div *ngIf="prenot.verso === 'Ritorno'">
          <div fxLayout="row" class="header-stop">
            <mat-card-header>
              <mat-card-title class="stop-clock">{{
                this.resource.orarioScuola
                }}</mat-card-title>
            </mat-card-header>
            <div><img class="cross" [src]="cross" alt="Bus Stop"/></div>
            <mat-card-header fxFlexAlign="center">
              <mat-card-title class="stop-title">Scuola</mat-card-title>
            </mat-card-header>
          </div>
          <mat-card-content
            ngClass="prenotazioni"
            ngClass.lt-sm="prenotazioni-mobile"
          ></mat-card-content>
        </div>
      </div>

      <div
        class="card-stops"
        [class.prenotazioni-disabled]="showLoading()"
        *ngFor="
        let res of this.resource?.alunniPerFermata;
        let first = first;
        let last = last
      "
        [ngClass]="{ first: first, last: last }"
      >
        <!--Normali fermate-->
        <div>
          <div fxLayout="row" class="header-stop">
            <mat-card-header>
              <mat-card-title class="stop-clock">{{
                res.fermata.orario
                }}</mat-card-title>
            </mat-card-header>
            <div><img class="cross" [src]="cross" alt="Bus Stop"/></div>
            <mat-card-header fxFlexAlign="center">
              <mat-card-title class="stop-title">{{
                res.fermata.nome
                }}</mat-card-title>
            </mat-card-header>
            <div>
              <button mat-icon-button class="map-button" (click)="openMapDialog(res.fermata.id)">
                <mat-icon>info</mat-icon>
              </button>
            </div>
          </div>

          <mat-card-content
            ngClass=" prenotazioni"
            ngClass.lt-sm="prenotazioni-mobile"
            *ngIf="res.alunni.length > 0; then thenAlunni; else elseAlunni"
          ></mat-card-content>
          <ng-template #thenAlunni>
            <mat-card-content
              ngClass="prenotazioni"
              ngClass.lt-sm="prenotazioni-mobile"
            >
              <button
                mat-stroked-button
                class="alunno-presenza"
                [class.primary-bg]="alunno.arrivatoScuola"
                [class.accent-bg]="alunno.presoInCarico && !alunno.arrivatoScuola"
                [class.warn-bg]="alunno.assente"
                [class.text-weight]="alunno.presoInCarico || alunno.arrivatoScuola || alunno.assente"
                [disableRipple]="!canModify()"

                (click)="togglePresenza(res.fermata.id, alunno)"
                *ngFor="let alunno of sortedAlunni(res.alunni)"
              >
                <mat-progress-bar
                  class="progress-bar-button"
                  *ngIf="showLoadingButton(alunno)"
                  mode="indeterminate"
                ></mat-progress-bar>
                {{ alunno.surname + " " + alunno.name }}
              </button>

            </mat-card-content>
          </ng-template>
          <ng-template #elseAlunni>
            <mat-card-content
              ngClass="prenotazioni"
              ngClass.lt-sm="prenotazioni-mobile"
            >
              Nessuna prenotazione
            </mat-card-content>
          </ng-template>
        </div>
      </div>

      <!--Scuola andata-->
      <div class="card-stops" [class.prenotazioni-disabled]="showLoading()">
        <div *ngIf="this.prenotazione.verso === 'Andata'">
          <!--        <mat-card-content ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile"></mat-card-content>-->
          <div fxLayout="row" class="header-stop">
            <mat-card-header>
              <mat-card-title class="stop-clock">{{
                this.resource.orarioScuola
                }}</mat-card-title>
            </mat-card-header>
            <div><img class="cross" [src]="cross" alt="Bus Stop"/></div>
            <mat-card-header fxFlexAlign="center">
              <mat-card-title class="stop-title">Scuola</mat-card-title>
            </mat-card-header>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card ngClass="container" ngClass.lt-md="container-mobile">
    <mat-progress-bar
      class="progress-bar-button"
      *ngIf="showLoading()"
      mode="indeterminate"
    ></mat-progress-bar>
    <mat-card-header><h1>Alunni non Prenotati</h1></mat-card-header>
    <div *ngIf="!showLoading()">
      <div *ngIf="this.resource.childrenNotReserved.length != 0;then thenAlunniNot; else elseAlunniNot"
      ></div>
      <ng-template #thenAlunniNot>
        <mat-card-content
          ngClass="noprenotazioni"
          ngClass.lt-sm="noprenotazioni-mobile"
        >
          <button
            (click)="openDialog(alunno)"
            [disableRipple]="!canModify()"
            mat-stroked-button
            class="alunno-presenza mat-background-accent"
            *ngFor="
              let alunno of sortedNotReserved(this.resource?.childrenNotReserved)
            "
          >
            <mat-progress-bar
              class="progress-bar-button"
              *ngIf="showLoadingButton(alunno)"
              mode="indeterminate"
            ></mat-progress-bar>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              *ngIf="alunno"
            >add
            </mat-icon
            >
            {{ alunno.surname + " " + alunno.name }}
          </button>
        </mat-card-content>
      </ng-template>
      <ng-template #elseAlunniNot>
        <mat-card-content
          ngClass="prenotazioni"
          ngClass.lt-sm="prenotazioni-mobile"
        >
          Tutti i bambini hanno una prenotazione
        </mat-card-content>
      </ng-template>
    </div>

  </mat-card>
</div>

<ng-template #elseBlock>
  <mat-card ngClass="container" ngClass.lt-md="container-mobile">
    <mat-progress-bar
      class="progress-bar-button"
      *ngIf="showLoading()"
      mode="indeterminate"
    ></mat-progress-bar>

    <div class="no-stops" *ngIf="!showLoading()">
      Nessuna corsa disponibile con i parametri selezionati

    </div>
    <div class="no-stops" *ngIf="showLoading()">
      <mat-card-header><h1>Caricamento in corso...</h1></mat-card-header>

    </div>
  </mat-card>
</ng-template>
