<!-- LISTA FERMATE CON PRENOTAZIONI ALUNNI -->
<mat-progress-bar class="progress-bar" *ngIf="showLoading()" mode="indeterminate"></mat-progress-bar>
<mat-card ngClass="container" ngClass.lt-md="container-mobile">

  <div class="container"
       *ngIf="(reservations); then thenBlock; else elseBlock"
       role="list">
  </div>

  <ng-template #thenBlock>
    <div class="card-stops"
         *ngFor="let res of reservations; let first = first; let last = last"
         [ngClass]="{ first: first, last: last }">
      <div fxLayout="row">

        <mat-card-header>
          <mat-card-title class="stop-clock">{{res.fermata.orario}}</mat-card-title>
        </mat-card-header>

        <img class="cross" [src]="cross" alt="Bus Stop"/>

        <mat-card-header>
          <mat-card-title class="stop-title">{{res.fermata.nome}}</mat-card-title>
        </mat-card-header>

      </div>

      <mat-card-content ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile"
                        *ngIf="(last && this.prenotazione.verso === 'Andata') || (first && this.prenotazione.verso === 'Ritorno');
                             then isSpecial;
                             else notSpecial">
      </mat-card-content>
      <ng-template #notSpecial>
        <mat-card-content ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile"
                          *ngIf="(res.alunni.length > 0); then thenAlunni; else elseAlunni"></mat-card-content>
        <ng-template #thenAlunni>
          <mat-card-content ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile">
            <button mat-stroked-button class="alunno-presenza mat-background-accent"
                    [class.presente]="alunno.presoInCarico"
                    (click)="togglePresenza(res.fermata.id, alunno)"
                    *ngFor="let alunno of sortedAlunni(res.alunni); "><mat-progress-bar class="progress-bar-button" *ngIf="showLoadingButton(alunno)" mode="indeterminate"></mat-progress-bar>
              {{alunno.surname + " " + alunno.name}}</button>
          </mat-card-content>
        </ng-template>
        <ng-template #elseAlunni>
          <mat-card-content ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile">
            Nessuna prenotazione
          </mat-card-content>
        </ng-template>
      </ng-template>
      <ng-template #isSpecial>
        <mat-card-content *ngIf="first" ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile">
        </mat-card-content>
      </ng-template>

    </div>
    <mat-card-header>
      <mat-card-title>Bambini non prenotati</mat-card-title>
    </mat-card-header>
    <mat-card-content ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile"
                      *ngIf="(notReserved); then thenAlunniNot; else elseAlunniNot"></mat-card-content>
    <ng-template #thenAlunniNot>
      <mat-card-content ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile">
        <button (click)="openDialog(alunno)" mat-stroked-button class="alunno-presenza mat-background-accent"
                *ngFor="let alunno of notReserved; "> <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>{{alunno.surname + " " + alunno.name}}</button>
      </mat-card-content>
    </ng-template>
    <ng-template #elseAlunniNot>
      <mat-card-content ngClass="prenotazioni" ngClass.lt-sm="prenotazioni-mobile">
        Nessun Bambino Non Prenotato
      </mat-card-content>
    </ng-template>
  </ng-template>
  <ng-template #elseBlock>
    <div class="no-stops">
      Nessuna corsa disponibile con i parametri selezionati
    </div>
  </ng-template>

</mat-card>
<div ngClass.lt-md="margin-final">

</div>
