@import "../presenze.component.scss";

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 70;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}

.header-stop{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.map-button{
  color: mat-color($pedibus-theme-accent, default);
}


.progress-bar-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.dialog-theme {
  text-align: center;
}
