@import "../presenze.component.scss";

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 70;
}


.progress-bar-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
