<div style="border-style: solid; border-width: 2px; margin: 3px 3px 3px 3px;">
    <h4>{{bambino.name}}</h4>
    <ul>
        <li>
            <b>Fermata andata predefinita:</b> <i>{{(defaultAndata | async)?.nome}}</i> 
        </li>
        <li> 
            <b>Fermata ritorno predefinita:</b> <i>{{(defaultRitorno | async)?.nome}}</i> 
        </li>
        <li>
            <b>{{request.verso}} {{request.data | date}}:</b> <i>[Prenotato per fermata X, Non prenotato, preso in carica alle hh:mm]</i>
        </li>
    </ul>
    <button style="background-color: rgb(133, 210, 255);" (click)="showAnagraficaDialog()">Modifica Anagrafica</button>
    <button style="background-color: rgb(133, 210, 255);" (click)="showPrenotazioneDialog()">Effettua Prenotazione</button>
</div>