@import '~@angular/material/theming';

// Creates a map of hues to colors for a theme. This is used to define a theme palette in terms
// of the Material Design hues.
// @param $color-map
// @param $primary
// @param $lighter
@function mat-palette-piero($base-palette, $default: 500, $lighter: 100, $darker: 700) {
  $result: map_merge($base-palette, (
    default: map-get($base-palette, $default),
    lighter: map-get($base-palette, $lighter),
    darker: map-get($base-palette, $darker),

    default-contrast: mat-contrast($mat-deep-orange, $default),
    lighter-contrast: mat-contrast($mat-deep-orange, $lighter),
    darker-contrast: mat-contrast($mat-deep-orange, $darker)
  ));

  // For each hue in the palette, add a "-contrast" color to the map.
  @each $hue, $color in $base-palette {
    $result: map_merge($result, (
      '#{$hue}-contrast': mat-contrast($base-palette, $hue)
    ));
  }

  @return $result;
}

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pedibus-theme-primary: mat-palette-piero($mat-blue);
$pedibus-theme-accent:  mat-palette-piero($mat-light-green);

// The warn palette is optional (defaults to red).
$pedibus-theme-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$pedibus-theme: mat-light-theme($pedibus-theme-primary, $pedibus-theme-accent, $pedibus-theme-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($pedibus-theme);

.dark-theme {
  $pedibus-theme-primary: mat-palette-piero($mat-blue);
  $pedibus-theme-accent: mat-palette-piero($mat-light-green);

  // The warn palette is optional (defaults to red).
  $pedibus-theme-warn:    mat-palette($mat-red);

  // Create the theme object (a Sass map containing all of the palettes).
  $pedibus-theme-dark: mat-dark-theme($pedibus-theme-primary, $pedibus-theme-accent, $pedibus-theme-warn);
  @include angular-material-theme($pedibus-theme-dark);
  background: mat-color($pedibus-theme-primary, darker);
  //color: mat-color($mat-grey, 100);
  fill: mat-color($mat-grey, 100);


}


