@import '../../pedibus-theme';

.head-menu {
  background: mat-color($pedibus-theme-primary, default) !important;
  color: white
}


.logo {
  /* Usato per centrarlo manualmente per decentramento Drawer button*/
  padding-right: 40px;
  height: 100%;
  margin: auto;
}

.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}
