@import "../../app.component";

.container {
  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 16px;
  padding-top: 25px;
}

.container-mobile {
  width: 85%;
  height: auto;
  margin: auto;
  margin-top: 16px;
  padding-top: 25px;
}
