
.container {
  width: 60%;
  height: auto;
  margin: 10px auto 6px auto;
  padding: 0 20px;
  text-align: center;

}
.container-mobile {
  width: 85%;
  height: auto;
  margin: 10px auto 6px auto;
  padding: 0 20px;
  text-align: center;

}

.search-bar {
  padding-top: 5px;
  margin-top: 20px;
  display: flex;
  align-content: space-around;
  justify-content: center;
}
.search-bar-div {
  width: 100%;
}

mat-paginator {
  background-color: #e1f5fe;
}
