@import 'pedibus-theme';

.toolbar {
  border-radius: 0 0 4px 4px;
  padding: 20px 20px;
}

.fab-left {
  position: fixed;
  bottom: 16px;
  left: 16px;
  z-index: 999;
}


.fab-right {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999;
}

.tool-flex {
  display: flex;
  justify-content: space-between;
}
