<!-- BOTTONI MOBILE -->
<div class="dark-theme">

  <button type=”button” class="mat-fab mat-accent dark-theme fab-left" (click)="modifyDate(-1);" fxHide=""
          fxShow.lt-sm="">
          <span class="mat-button-wrapper">
            <mat-icon class="mat-icon material-icons"
                      role="img" aria-hidden="true">keyboard_arrow_left</mat-icon>
          </span>
  </button>
  <button type=”button” class="mat-fab mat-accent dark-theme fab-right" (click)="modifyDate(1);" fxHide=""
          fxShow.lt-sm="">
          <span class="mat-button-wrapper">
            <mat-icon class="mat-icon material-icons"
                      role="img" aria-hidden="true">keyboard_arrow_right</mat-icon>
          </span>
  </button>
</div>
<!-- TOOLBAR -->
<mat-card ngClass=" toolbar dark-theme" *ngIf="richiesta">
  <!-- TOOLBAR ROW -->
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap.lt-sm="5%">
    <!-- DATE CHANGE BUTTON -->
    <div fxFlex="10%" fxFlex.lt-sm="0%" fxLayoutAlign="space-around center" fxHide.lt-sm="">
      <button type=”button” class="mat-mini-fab mat-accent" (click)="modifyDate(-1);">
          <span class="mat-button-wrapper">
            <mat-icon class="mat-icon material-icons"
                      role="img" aria-hidden="true">keyboard_arrow_left</mat-icon>
          </span>
      </button>
    </div>
    <mat-card-header fxFlex="70%" fxFlex.lt-sm="90%" class="form-top" fxLayout="row" fxLayout.lt-sm="column"
                     fxLayoutGap="3%"
                     fxLayoutAlign="center" fxLayoutAlign.xs="center">
      <!-- SELEZIONA LINEA -->
      <mat-form-field fxFlex="30%" fxFlex.lt-sm="100%" color="accent" *ngIf="showLinea">
        <mat-label>Seleziona linea</mat-label>
        <mat-select *ngIf="linee" (selectionChange)="emitRequest()" [(ngModel)]="richiesta.linea">
          <mat-option *ngFor="let linea of linee" [value]="linea">
            <p>{{(linea | fortmatLine)}}</p>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- SELEZIONA VERSO -->
      <mat-form-field fxFlex="30%" fxFlex.lt-sm="100%" color="accent" *ngIf="showVerso">
        <mat-label>Seleziona verso</mat-label>
        <mat-select (selectionChange)="emitRequest()" [(ngModel)]="richiesta.verso">
          <mat-option *ngFor="let v of ['Andata', 'Ritorno']" [value]="v">{{v}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- DATEPICKER -->
      <mat-form-field fxFlex="30%" fxFlex.lt-sm="100%" color="accent">
        <input matInput (dateChange)="emitRequest()" [matDatepicker]="picker" placeholder="Seleziona data" [(ngModel)]="richiesta.data">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-card-header>
    <div fxFlex="10%" fxFlex.lt-sm="0%" fxLayoutAlign="space-around center" fxHide.lt-sm="">

      <button type=”button” class="mat-mini-fab mat-accent " (click)="modifyDate(1);">
          <span class="mat-button-wrapper">
            <mat-icon class="mat-icon material-icons"
                      role="img" aria-hidden="true">keyboard_arrow_right</mat-icon>
          </span>
      </button>
    </div>
  </div>
</mat-card>

