<h1 mat-dialog-title>{{this.data.aggiunta ? "Aggiungi" : "Modifica" }}
  Prenotazione {{this.data.bambino.name}} {{this.data.bambino.surname}}</h1>
<form #form [formGroup]="prenotazioneForm" *ngIf="this.loading == 0">
  <div>
    <p class="mat-h2 dialog-theme">{{this.data.andata ? "Andata" : "Ritorno" }} del {{this.data.data | date}}</p>
    <app-stops-map [center]="this.selectedStop ? this.selectedStop.location : null" [lines]="lineData"
                   [stops]="this.stopsLocation" [description]="this.stopsDescription"
                   (changeStop)="selectStopIndex($event)"></app-stops-map>

    <div mat-dialog-content class="dialog-theme">
      <!-- FORM CONTENT HERE... -->
      <mat-form-field style="padding: 5px;">
        <mat-label>Linea:</mat-label>
        <mat-select formControlName="lineSelect"
                    (selectionChange)="changeFermate($event.value)">
          <mat-option *ngFor="let linea of data.linee" [value]="linea">{{lineData.get(linea).nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="padding: 5px;">
        <mat-label>Fermata Andata:</mat-label>
        <mat-select formControlName="stopSelect" [disabled]="!stops || stops.length == 0"
                    (selectionChange)="selectStop($event.value)"
        >
          <ng-container *ngFor="let stop of stops">
            <mat-option *ngIf="this.isOnTime(stop.orario)" [value]="stop.id">
              {{stop.nome}} {{stop.orario}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-dialog-actions>
      <button mat-button type="button" (click)="cancel()">Annulla</button>
      <button mat-raised-button color="primary"
              [disabled]="!prenotazioneForm.valid" (click)="submit()">
        <!-- <mat-progress-bar class="progress-bar-button" *ngIf="data.alunno.update" mode="indeterminate">
        </mat-progress-bar> -->
        {{this.data.aggiunta ? "Aggiungi" : "Modifica" }}
      </button>
    </mat-dialog-actions>
  </div>
</form>
