.container{
  text-align: center;
}
.container-mobile{
  text-align: center;
}

.notfound .notfound-404 h1 > span {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-size: cover;
}


.fourofour {
  /* Usato per centrarlo manualmente per decentramento Drawer button*/
  padding: 10px;
  height: 200px;
  margin: auto;
}

.oops {
  margin-bottom: 50px;
}
