<mat-card ngClass="container" ngClass.lt-md="container-mobile">
  <mat-icon mat-card-image aria-hidden="false" aria-label="Example home icon" color="primary" class="main-image">person_add</mat-icon>
  <div class="mat-headline">Sign Up</div>
  <form (ngSubmit)="submit($event)" *ngIf="!success; else successBlock">
    <mat-form-field  ngClass.lt-sm="form-field-mobile" ngClass.gt-sm="form-field">
      <!-- TODO: controllare se va bene (input) o è meglio (blur) -->
      <input type="email" matInput id="email" name="email" placeholder="Email" required email [(ngModel)]="model.email"
             #email="ngModel" (input)="checkDuplicate()">
      <mat-error *ngIf="email.invalid && email.touched">Email non valida</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field  ngClass.lt-sm="form-field-mobile" ngClass.gt-sm="form-field">
      <input type="password" id="password" name="password" matInput required placeholder="Password"
             pattern="^((?=.*[0-9])|(?=.*[@#$%^&+!=]))((?=.*[a-z])|(?=.*[A-Z]))(?=\S+$).{8,}$" [(ngModel)]="model.password"
             #password="ngModel">
      <mat-error *ngIf="password.invalid && password.touched">Password non valida</mat-error>
    </mat-form-field >
    <br>
    <mat-form-field  ngClass.lt-sm="form-field-mobile" ngClass.gt-sm="form-field">
      <input type="password" id="passMatch" name="passMatch" matInput required [pattern]="model.password" placeholder="Ripeti Password"
             [(ngModel)]="model.passMatch" #passMatch="ngModel">
      <mat-error *ngIf="passMatch.invalid && passMatch.touched">Le due password non coincidono</mat-error>
    </mat-form-field>
    <br>
    <!-- TERMS -->
      <mat-checkbox id="check" name="check"  required [(ngModel)]="model.terms" #check="ngModel">agree with our terms and conditions</mat-checkbox>
      <mat-error *ngIf="!model.terms; else termsAccepted" >Ricordati di accettare i termini e le condizioni di utilizzo</mat-error>
    <ng-template #termsAccepted>
      <mat-error></mat-error>
    </ng-template>
    <br>
    <mat-error *ngIf="serverErrors">{{serverErrors}}</mat-error>
    <mat-error  *ngIf="isPresent">Email già presente nel database</mat-error>
    <button type="reset" mat-button>Reset</button>
    <button type="submit" [disabled]="isPresent || passMatch.invalid || password.invalid || email.invalid || !model.terms" mat-raised-button color="primary">Register</button>
  </form>
  <ng-template #successBlock>
    <div>
      <div class="mat-headline">Registrazione Account effettuata correttamente</div>
      <div >Controlla la tua casella di posta e clicca sul link che troverai per confermare il tuo account!</div>
    </div>
  </ng-template>
</mat-card>
