<mat-card ngClass="container" ngClass.lt-md="container-mobile">
  {{form}}<br>

  <mat-icon mat-card-image aria-hidden="false" aria-label="Example home icon" color="primary" class="main-image">
    person_add
  </mat-icon>
  <div class="mat-headline">Sign Up</div>
  <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!success; else successBlock">
    <mat-form-field ngClass.lt-sm="form-field-mobile" ngClass.gt-sm="form-field">
      <input type="email" matInput id="email" name="email" placeholder="Email" required email formControlName="email">
      <mat-error *ngIf="form.controls.email.hasError('required')">Email obbligatoria</mat-error>
      <mat-error *ngIf="form.controls.email.hasError('email')">Email non valida</mat-error>
      <mat-error *ngIf="form.controls.email.hasError('duplicate')">Email già presente nel database</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field ngClass.lt-sm="form-field-mobile" ngClass.gt-sm="form-field" >
      <input type="password" id="password" name="password" matInput required placeholder="Password"
             formControlName="password">
      <mat-error *ngIf="form.controls.password.hasError('notMatching')">Le password non coincidono</mat-error>
      <mat-error *ngIf="form.controls.password.hasError('required')">Password obbligatoria
      </mat-error>
      <mat-error *ngIf="form.controls.password.hasError('pattern')">Password non valida</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field ngClass.lt-sm="form-field-mobile" ngClass.gt-sm="form-field">
      <input type="password" id="passMatch" name="passMatch" matInput required [pattern]="model.password"
             placeholder="Ripeti Password" formControlName="passMatch">
      <mat-error *ngIf="form.controls.passMatch.hasError('required')">Ripeti la password
      </mat-error>

    </mat-form-field>
    <br>
    <!-- TERMS -->
    <mat-checkbox id="check" name="check" required formControlName="terms">Accetto termini e
      condizioni
    </mat-checkbox>
    <mat-error *ngIf="form.controls.terms.hasError('required')">Ricordati di accettare termini e condizioni
    </mat-error>
    <ng-template #termsAccepted>
      <mat-error></mat-error>
    </ng-template>
    <br>
    <mat-error *ngIf="serverErrors">{{serverErrors}}</mat-error>
    <button type="reset" mat-button>Reset</button>
    <button type="submit" [disabled]="!form.valid"
            mat-raised-button color="primary">Register
    </button>
  </form>
  <ng-template #successBlock>
    <div>
      <div class="mat-headline">Registrazione Account effettuata correttamente</div>
      <div>Controlla la tua casella di posta e clicca sul link che troverai per confermare il tuo account!</div>
    </div>
  </ng-template>
</mat-card>
