@import 'pedibus-theme';

.fixed-header {
  height: 80px;
}

mat-icon {
  padding-right: 5px;
}

.mat-nav-list a.active {
  color: mat-color($pedibus-theme-accent, darker);
}

.notifica {
  margin: 0 0 0 5px;
  padding: 3px;
  color: white;
  background-color: red;
  border-radius: 5px;
  font-weight: bold;
}

.notifica-menu {
  position: absolute;
  bottom: 4px;
  right: 8px;
  height: 5px;
  width: 5px;
  border-radius: 100px;
}

.example-spacer {
  flex: 1 1 auto;
}

.head-menu {
  background: mat-color($pedibus-theme-primary, default) !important;
  color: white
}

.logo {
  /* Usato per centrarlo manualmente per decentramento Drawer button*/
  padding: 10px;
  height: 50px;
  margin: auto;
}

.sidenav-container {
  height: 100%;
}

