<mat-sidenav-container fxFlexFill class="sidenav-container">

  <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
    <mat-toolbar class="head-menu">Menu</mat-toolbar>
    <mat-nav-list *ngIf="headerMenu$ | async as menus">
      <a mat-list-item *ngFor="let menu of menus"
         (click)="activeLoggedLink = menu.link;sidenav.close();"
         routerLinkActive="active"
         [routerLink]="menu.link">
        <mat-icon aria-hidden="false" aria-label="Example home icon">{{menu.icon}}</mat-icon>
        {{menu.title}}
        <span class="notifica" *ngIf="menu.link === 'notifiche' && (unReadNotification$ |async) as notificationNumber">
        <span *ngIf="notificationNumber>0 && notificationNumber <= 20">{{notificationNumber}}</span>
          <span *ngIf="notificationNumber>20">20+</span>
      </span>
      </a>

      <a mat-list-item (click)="logOut();sidenav.close();" *ngIf="isLoggedIn()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
        Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <mat-toolbar class="fixed-header dark-theme" color="primary">
      <div fxShow="true" fxHide.gt-sm="true" style="position: relative">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="notifica notifica-menu"
              *ngIf="(unReadNotification$ |async) as notificationNumber">
      </span>
      </div>
      <img class="logo" [src]="logo" alt="Pedibus"/>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true" *ngIf="headerMenu$ | async as menus">
        <a mat-button *ngFor="let menu of menus"
           (click)="activeLoggedLink = menu.link"
           routerLinkActive="mat-flat-button mat-accent"
           [routerLink]="menu.link">
          <mat-icon aria-hidden="false" aria-label="Example home icon">{{menu.icon}}</mat-icon>
          {{menu.title}} <span class="notifica"
                               *ngIf="menu.link === 'notifiche' && (unReadNotification$ |async) as notificationNumber">
        <span *ngIf="notificationNumber>0 && notificationNumber <= 20">{{notificationNumber}}</span>
          <span *ngIf="notificationNumber>20">20+</span>
      </span></a>
        <a mat-button (click)="logOut()" *ngIf="isLoggedIn()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
          Logout</a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
