.container {
  text-align: center;
}


.container-mobile {
  text-align: center;
}

mat-form-field {
  width: 300px;
}

.form-field {
  width: 40%;
  padding: 10px;
}

.form-field-mobile {
  width: 100%;
  padding: 10px;
}

.main-image {
  width: 100%;
  text-align: center;
  font-size: 10em;
  height: auto;
}
