mat-card {
  background-color: #fafafa;
  color: black;
  margin-bottom: 10px;
}

mat-card-content {
  text-align: left !important;
}

.card-user {
  display: flex;
  justify-content: space-between;

}

.name-surname {
  font-family: 'Montserrat', sans-serif;
}

.role {
  align-content: center;
  margin: 0 0 16px;
}

.user {
  text-align: left !important;
}
