.fab-left {
  position: fixed;
  bottom: 16px;
  left: 16px;
  z-index: 999;

}

.fab-right {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999;
}

.paginator-notification {
  width: 60%;
  height: auto;
  margin: 0 auto 6px auto;
}

.paginator-notification-mobile {
  width: 90%;
}
