@import "../../app.component";


.card-stops {
  margin: 10px;
}

.form-top {
  height: auto;
  margin: auto;
}

.toolbar {
  text-align: center;
}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.presente {
  background-color: mat-color($pedibus-theme-accent, darker);
  font-weight: bold;
  color: white;
}

.alunno-presenza {
  margin-top: 0.5%;
  margin-right: 0.5%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.button-data {
  /* Usato per centrarlo manualmente per decentramento Drawer button*/
  height: 100%;
  min-height: 40px;
  margin: auto;
}

.cross {
  /* Usato per centrarlo manualmente per decentramento Drawer button*/
  height: 27px;
  width: 27px;
}

.stop-title {
  color: mat-color($pedibus-theme-primary, default);
  margin: 0;
}

.button-data-container {
  margin: auto;
}

.prenotazioni {
  border-color: mat-color($pedibus-theme-primary, default);
  border-style: solid;
  border-width: 0 0 0 2px;
  padding: 8px;

  margin: 0 0 0 94px;
}

.prenotazioni-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.prenotazioni-mobile {
  border-color: mat-color($pedibus-theme-primary, default);
  border-style: solid;
  border-width: 0 0 0 2px;
  padding: 8px;
}

.noprenotazioni {
  padding: 8px;
}

.noprenotazioni-mobile {
  padding: 8px;
}

.no-stops {
  margin-left: 16px;
  padding: 5px;

}

.stop-clock {
  color: mat-color($mat-dark-theme-background, default);
  margin: 0;
}


.fab-left {
  position: fixed;
  bottom: 16px;
  left: 16px;
  z-index: 999;

}

.fab-right {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999;
}

.margin-final {
  height: 85px !important;
}


.paginator-notification {
  width: 60%;
  height: auto;
  margin: 0 auto 6px auto;
}

.paginator-notification-mobile {
  width: 90%;
}
