<mat-sidenav-container fxFlexFill class="sidenav-container">

  <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <mat-nav-list *ngIf="isLoggedIn(); else notLogged">
        <a mat-list-item *ngFor="let link of loggedLinks"
           (click)="activeLoggedLink = link;sidenav.close();"
           routerLinkActive="mat-accent"
           [routerLink]="link"> {{link}} </a>
        <a mat-list-item (click)="logOut();sidenav.close();">Logout</a>
      </mat-nav-list>
      <ng-template #notLogged>
        <mat-nav-list>
          <a mat-list-item *ngFor="let link of notLoggedLinks"
             (click)="activeNotLoggedLink = link;sidenav.close();"
             routerLinkActive="mat-accent"
             [routerLink]="link"> {{link}} </a>
        </mat-nav-list>
      </ng-template>

  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <mat-toolbar class="fixed-header" color="primary">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <img class="logo" [src]="logo" alt="Pedibus"/>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true" *ngIf="isLoggedIn(); else notLogged">
        <a mat-button *ngFor="let link of loggedLinks"
           (click)="activeLoggedLink = link"
           routerLinkActive="mat-accent"
           [routerLink]="link"> {{link}} </a>
        <a mat-button (click)="logOut()">Logout</a>
      </div>
      <ng-template #notLogged>
        <div fxShow="true" fxHide.lt-md="true">
          <a mat-button *ngFor="let link of notLoggedLinks"
             (click)="activeNotLoggedLink = link"
             routerLinkActive="mat-accent"
             [routerLink]="link"> {{link}} </a>
        </div>
      </ng-template>

    </mat-toolbar>
    <router-outlet></router-outlet>
    <div class="mat-h3 debug">
      {{getAuthData()}}
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
