<mat-card ngClass="container" ngClass.lt-md="container-mobile">
  <mat-progress-bar
    class="progress-bar-button"
    *ngIf="showLoading()"
    mode="indeterminate"
  ></mat-progress-bar>
  <div id ="prenotazione" *ngIf="prenotazione$ | async as prenotazione; else loadingDiv">
    <div id="stop" *ngIf="stops$ | async as stops; else loadingDiv">
      <div id="turno" *ngIf="turno$ | async as turno; else loadingDiv">
        <div *ngIf="!showLoading()">
          <mat-card-header fxLayout="row" fxLayout.lt-sm="column">
            <div><h1>Gestione Turni</h1></div>
            <div class="no-stops header-button" *ngIf="!turno.isExpired">
              <button (click)="openTurno(turno)" *ngIf="!turno.isOpen" mat-raised-button color="accent">Apri il turno</button>
              <button (click)="closeTurno(turno)" *ngIf="turno.isOpen" mat-raised-button color="warn">Chiudi il turno</button>
            </div>
          </mat-card-header>
          <div class="no-stops" *ngFor="let stop of (prenotazione.verso ? stops.andata : stops.ritorno)">
            {{stop.orario}} - {{stop.nome}}
            <div class="no-stops" *ngIf="turno.listDisp[stop.nome] && turno.listDisp[stop.nome].length > 0 else empty">
              <div class="no-stops" *ngFor="let disp of turno.listDisp['Monte Grappa']">
                <div id="guideUsername">{{disp.guideUsername}}</div>
                <div id="nomeFermata">{{disp.nomeFermata}}</div>
                <div id="isConfirmed">{{disp.isConfirmed}}</div>
                <div id="isAck">{{disp.isAck}}</div>

              </div>
            </div>
          </div>
        </div>
        <ng-template #empty>
          <div class="no-stops">
            Non sono ancora presenti disponibilità nel turno selezionato.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</mat-card>


<ng-template #loadingDiv>
  <mat-card-header *ngIf="showLoading()"><h1>Caricamento in corso...</h1></mat-card-header>
  <mat-card-header *ngIf="!showLoading()"><h1>Il turno è chiuso e non può più essere riaperto</h1></mat-card-header>

</ng-template>
