<mat-card ngClass="container" ngClass.lt-md="container-mobile">
  <mat-progress-bar
    class="progress-bar-button"
    *ngIf="showLoading()"
    mode="indeterminate"
  ></mat-progress-bar>
  <div id="prenotazione" *ngIf="this.linea else loadingDiv">
    <div *ngIf="!showLoading()">
      <mat-card-header fxLayout="row" fxLayout.lt-sm="column">
        <div><h1>Gestione Turni</h1></div>
        <div class="no-stops header-button">
          <mat-slide-toggle #toggle
                            (change)="statusTurno(toggle.checked)"
                            class="example-margin"
                            color="accent"
                            [checked]="this.turno.isOpen"
                            [disabled]="this.turno.isExpired">
            {{this.turno.isExpired ? "Scaduto" : (this.turno.isOpen ? "Aperto" : "Chiuso")}}
          </mat-slide-toggle>
        </div>
      </mat-card-header>
      <div class="no-stops" *ngFor="let stop of (this.p.verso == 'Andata' ? this.linea.andata : this.linea.ritorno)">
        {{stop.orario}} - {{stop.nome}}
        <div class="no-stops" *ngIf="this.listDisp[stop.nome] && this.listDisp[stop.nome].length > 0 else empty">
          <div class="no-stops" *ngFor="let disp of this.listDisp[stop.nome]">
            <div id="guideUsername">{{disp.guideUsername}}</div>
            <span *ngIf="turno.isOpen else notOpen">
              <div id="isConfirmed">Conferma:
                <span class="status">{{disp.isConfirmed}}</span>
              </div>
              <div id="isAck">Conferma Ricevuto:
                <span class="status">{{disp.isAck}}</span>
              </div>
            </span>
            <ng-template #notOpen>
              <span>
                <mat-slide-toggle #toggle
                                  class="example-margin"
                                  color="accent"
                                  [disabled]="this.turno.isExpired"
                                  (change)="disp.isConfirmed = toggle.checked"
                                  [checked]="disp.isConfirmed">
                  {{disp.isConfirmed ? "Confermato" : "Non Confermato"}}
                </mat-slide-toggle>
              </span>
            </ng-template>

          </div>
        </div>
      </div>
      <ng-template #empty>
        <div class="no-stops">
          Non sono ancora presenti disponibilità nel turno selezionato.
        </div>
      </ng-template>

      <button (click)="confermaDisp(this.listDisp)" *ngIf="!turno.isOpen" [disabled]="this.turno.isExpired" mat-raised-button color="primary">Invia conferme</button>
      <button *ngIf="turno.isOpen" [disabled]="this.turno.isExpired" mat-raised-button color="primary">Chiudi turno e invia conferme a tutti</button>
    </div>

  </div>

</mat-card>


<ng-template #loadingDiv>
  <mat-card-header *ngIf="showLoading()"><h1>Caricamento in corso...</h1></mat-card-header>
  <mat-card-header *ngIf="!showLoading()"><h1>Il turno è chiuso e non può più essere riaperto</h1></mat-card-header>

</ng-template>
