@import "../turni.component.scss";

.header-button {
  vertical-align: center;
  flex: 1;
  flex-direction: column;
  margin: auto 10px auto 10px;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 70;
}

.progress-bar-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.prenotazioni {
  border-color: mat-color($pedibus-theme-primary, default);
  border-style: solid;
  border-width: 0 0 0 2px;
  padding: 8px;

  margin: 0 0 0 94px;
}
.prenotazioni-disabled {
  opacity: 0.3;
  pointer-events:none;
}

.prenotazioni-mobile {
  border-color: mat-color($pedibus-theme-primary, default);
  border-style: solid;
  border-width: 0 0 0 2px;
  padding: 8px;
}

.user-icon-tick {
  height: 20px;
  position: absolute;
  top: 15px;
  left: 5px;
}
.header-stop{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.map-button{
  color: mat-color($pedibus-theme-accent, default);
}
.mat-card-header .mat-card-title {
  margin-bottom: 0;
}

